<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sichuan.geologenvi" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".GEApplication"
        android:theme="@style/AppTheme" >
        <activity android:name=".FirstPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.TXL.TXLListAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.ZBAPAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.YujingAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.RadAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.MapSearchAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.MapAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.DxsAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.ItemDetailAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.MineListAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.SearchAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.TitleListAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.RainAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.contact.ActivityAddFriends" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.geodisaster.QuXianSelectorAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.geodisaster.AreaSelectorAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.geodisaster.SelectorAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.geodisaster.TitleResultListAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.geodisaster.YinhuandianDetail" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.geodisaster.ZhilidianweiDetail" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.geodisaster.BixianbanqianDetail" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.BanqianbirangEditMain" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.BanqianbirangList" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.ReportTitleList" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.ReportHistoryList" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.HistoryDetailAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.ViewPagerExampleActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.AreaInputAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.ReportCreateAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.ReportEditListAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.CJ_DZZHD_XCKP_edit" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.CJ_BXBQ_XCKP_edit" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.CJ_GCZL_XCKP_edit" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.CJ_BXCS_XCKP_edit" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.report.SelectPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".act.statistics.ChatAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.statistics.FormAct" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity
            android:name=".act.statistics.ChatRain" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="8UZCSfnnDH0pIQADr31H1TpNvPfSaXDM" />
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:launchMode="singleTop"
            android:name="com.skyline.terraexplorer.controllers.TEMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.TutorialActivity"
            android:label="@string/mm_more_tutorial"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.EditFavoriteActivity"
            android:label="@string/title_activity_favorites"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.EditFavoriteSelectIconActivity"
            android:label="@string/title_activity_favorites_icons"
            android:parentActivityName="com.skyline.terraexplorer.controllers.EditFavoriteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.EditFavoriteActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.SearchActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.PlacesActivity"
            android:label="@string/title_activity_places"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.LayersActivity"
            android:label="@string/title_activity_layers"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.PresentationStepsActivity"
            android:label="@string/title_activity_layers"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.AboutActivity"
            android:label="@string/mm_more_about"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.FeatureAttributesActivity"
            android:label="@string/title_activity_attributes"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.WhiteboardListActivity"
            android:label="@string/title_activity_whiteboards"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>
        <activity
            android:name="com.skyline.terraexplorer.controllers.TerrainProfileActivity"
            android:label="@string/title_activity_terrain_profile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="com.skyline.terraexplorer.controllers.TEMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.skyline.terraexplorer.controllers.TEMainActivity" />
        </activity>

    </application>

    <uses-permission android:name="android.permission.RESTART_PACKAGES"></uses-permission>
    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 读写存储卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 锁屏权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>